

a {
    color: var(--color-link);
    text-decoration: none;
    transition: color 0.3s ease;
}
a:hover {
    color: #2980b9;
    text-decoration: underline;
}

/* 卡片基礎樣式 */
.link-card {
  display: flex;
  align-items: center;
  padding: 16px;
  text-decoration: none;
  border-radius: 16px;
  transition: all 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.link-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9);
}

[button] {
    border-radius: 1em;
    margin: 2px;
    font-size: 17px;
    border: 0 solid #ffffff;
    padding: 3px;
}
[button="1"] {
    background-color: #00000000;
    color: var(--color-link);
    transition: background-color 0.4s ease;
    transition: color 0.4s ease;
}
[button="1"]:hover {
    background-color: var(--color-link);
    color: white;
}
[button="2"] {
    background-color: var(--color-link);
    color: white;
    transition: background-color 0.4s ease;
    transition: color 0.4s ease;
}
[button="2"]:hover {
    background-color: #00000000;
    color: var(--color-link);
}

[fadeUp="true"] {
    animation: fadeInUp 0.8s ease-out 0.4s both;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}