.div {
    background: var(--card-bg);
    padding: 20px;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 10px 25px rgb(0 0 0 / 24%);
    margin: 20px;
    animation: fadeInUp 0.8s ease-out 0.4s both;
    overflow: hidden;
}