

a {
    color: var(--color-link);
    text-decoration: none;
    transition: color 0.3s ease;
}
a:hover {
    color: #2980b9;
    text-decoration: underline;
}

[button] {
    border-radius: 1em;
    margin: 2px;
    font-size: 17px;
    border: 0 solid #ffffff;
}
[button="1"] {
    background-color: #00000000;
    color: var(--color-link);
    transition: background-color 0.4s ease;
    transition: color 0.4s ease;
}
[button="1"]:hover {
    background-color: var(--color-link);
    color: white;
}
[button="2"] {
    background-color: var(--color-link);
    color: white;
    transition: background-color 0.4s ease;
    transition: color 0.4s ease;
}
[button="2"]:hover {
    background-color: #00000000;
    color: var(--color-link);
}